*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: inherit

html
    box-sizing: border-box
    font-size: 65.2%

body
    background-color: var(--color-white)
    color: var(--color-black)
    font-family: sans-serif

a
    text-decoration: none

li
    list-style: none

::selection
    background-color: $color-blue
    color: $color-white