.header__title
    font-family: $font-ALK
    text-align: center
    a:link,
    a:visited
        color: $color-black
        transition: all .3s

    a:hover,
    a:active
        color: $color-white

.article__sub-title
    font-family: $font-ALK
    font-size: 2.4rem
    letter-spacing: .2rem
    margin-bottom: 2.6rem
    margin-top: 2rem

.article-nav__title
    font-family: $font-ALK
    font-size: 1.4rem
    letter-spacing: .2rem
    margin-bottom: 1rem

.sub-section__title
    font-family: $font-ALK
    font-size: 2.2rem
    letter-spacing: .2rem
    margin-bottom: 1.8rem

.paragraph
    font-family: $font-arial
    font-size: 1.6rem
    line-height: 1.6
    margin-bottom: .8rem

strong
    letter-spacing: 1px
    color: $color-blue-2