.footer
    width: 28rem
    height: auto
    position: fixed
    bottom: 0
    left: 0
    padding: 1rem 0

    display: flex
    justify-content: center

    @media only screen and (max-width: 1080px)
        position: relative
        width: 100%
        padding: 2rem 0

.copyright
    font-size: 1.2rem
    font-family: $font-ALK
    color: $color-black